/* Source: https://codepen.io/ArtemGordinsky/pen/DgyQKy */
.blinking-cursor {
    font-weight: 100;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: #24333e;
    }
  }
  
  @-moz-keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: #24333e;
    }
  }
  
  @-webkit-keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: #24333e;
    }
  }
  
  @-ms-keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: #24333e;
    }
  }
  
  @-o-keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: #24333e;
    }
  }
  